@font-face {
  font-family: "iconfont"; /* Project id 3925544 */
  src: url('iconfont.woff2?t=1677688335243') format('woff2'),
       url('iconfont.woff?t=1677688335243') format('woff'),
       url('iconfont.ttf?t=1677688335243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*喜欢*/
.icon-haodian:before {
  content: "\e601";
}
/*皇冠*/
.icon-huiyuan:before {
  content: "\e62d";
}
/*收藏夹*/
.icon-baopin:before {
  content: "\e602";
}
/*圆*/
.icon-wode:before {
  content: "\e604";
}

.icon-5zhegou:before {
  content: "\e605";
}
/*像人*/
.icon-fenxiangfanxian:before {
  content: "\e606";
}

.icon-duihao:before {
  content: "\e607";
}

.icon-daijinquan:before {
  content: "\e608";
}
/*长方形*/
.icon-kaikazhuanxiang:before {
  content: "\e609";
}
/*钻石*/
.icon-miqilintiyan:before {
  content: "\e60a";
}

.icon-maidan7zheqi:before {
  content: "\e60b";
}
/*4方格*/
.icon-quanbu:before {
  content: "\e60c";
}
/*领结*/
.icon-sirenguanjia:before {
  content: "\e60d";
}
/*搜索*/
.icon-sousuo:before {
  content: "\e60e";
}
/*设置*/
.icon-shezhi:before {
  content: "\e60f";
}
/*感叹*/
.icon-tanhao:before {
  content: "\e610";
}
/*餐盘*/
.icon-pinzhicanting:before {
  content: "\e611";
}
/*时间*/
.icon-yingyeshijian:before {
  content: "\e612";
}
/*在线客服*/
.icon-zaixiankefu:before {
  content: "\e613";
}
/*锁*/
.icon-suo:before {
  content: "\e614";
}

.icon-wanghongcanting:before {
  content: "\e615";
}
/*奖章*/
.icon-rongyuqiang:before {
  content: "\e616";
}
/*扫码*/
.icon-saoma2:before {
  content: "\e617";
}
/*扫码*/
.icon-saoma1:before {
  content: "\e618";
}
/*定位*/
.icon-juli:before {
  content: "\e619";
}
/*分享*/
.icon-fenxiang:before {
  content: "\e61a";
}
/*成功*/
.icon-chenggong:before {
  content: "\e61b";
}
/*火焰*/
.icon-baopindingdan:before {
  content: "\e61c";
}
/*叉*/
.icon-guanbi02:before {
  content: "\e61d";
}

.icon-guanbi01:before {
  content: "\e61e";
}

.icon-shaixuan:before {
  content: "\e61f";
}
/*钱*/
.icon-jinqian:before {
  content: "\e620";
}
/*文档*/
.icon-shangpinmaidan:before {
  content: "\e621";
}
/*评论*/
.icon-wenzhangguize:before {
  content: "\e622";
}
/*向上箭头*/
.icon-xiangshangjiantou:before {
  content: "\e623";
}
/*问号*/
.icon-wenhao:before {
  content: "\e624";
}
/*向下*/
.icon-xiangxiajiantou:before {
  content: "\e625";
}
/*右*/
.icon-xiangyoujiantou:before {
  content: "\e626";
}
/*左*/
.icon-xiangzuojiantou:before {
  content: "\e627";
}
/*文件夹*/
.icon-youhuimaidan:before {
  content: "\e628";
}

.icon-xiaoxi:before {
  content: "\e629";
}
/*点赞*/
.icon-dianzan:before {
  content: "\e62a";
}

.icon-daohaodian:before {
  content: "\e62b";
}

.icon-xiangbaopin:before {
  content: "\e62c";
}

